# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtual environments
venv/
.venv/
env/

# Local configuration
.env

# RAG generated database
rpa_agent_project/rag/chroma_db/
chroma_db/

# .NET / MAUI
bin/
obj/
.vs/
*.user
*.suo

# Frontend
node_modules/

# IDE
.idea/
.vscode/

# OS
Thumbs.db
desktop.ini

# Video YT
Video.txt

# Guías Presentación
PREPARACION_PRESENTACION_TAREA9.md
